@mixin gradient-text {
  background-image: linear-gradient(to right, #536976, #292e49);
  background-clip: text;
  color: transparent;
}

@mixin icon {
  height: 30px;
  width: 30px;
}

@mixin sticky-header {
  position: sticky;
  top: 0;
  background-color: $bg-color;
  z-index: 1;
}